.header-main {
    background: #0083ff;
    float: left;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
}

.form-input {
      height: 40px;
      margin-right: 20px;
      float: left;
      padding: 10px;
}
