<header class="header-main">
  <select [formControl]="sortingControl" class="form-input">
    <option [value]="" disabled selected>Select Sorting Order</option>
    <option [value]="constants.NAME_ASC"> Name (A - Z)</option>
    <option [value]="constants.NAME_DESC">Name (Z - A)</option>
    <option [value]="constants.RANK_DESC">Rank ↑</option>
    <option [value]="constants.RANK_ASC">Rank ↓</option>
  </select>

  <input [formControl]="searchListControl" class="form-input" placeholder="Search..." type="text" />
</header>
