.user-list-img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.single-user-card{
    width: 50%;
    margin-bottom: 20px;
    background: whitesmoke;
    padding: 15px;
    float: left;
}

.search-main{
    padding: 40px;
    float: left;
    width: 100%;
    margin-top: 80px;
}

.btn-css{
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    font-size: 14px;
    float: right;
}

.align-pagination {
    float: left;
    width: 100%;
}
