<div>
    <div *ngIf="userList" class="search-main">
        <div>Total List: {{totalCount}}</div>
        <div *ngFor="let singleUser of userList  | paginate: { itemsPerPage: limit, currentPage: page, totalItems: totalCount }" class="single-user-card">
            <div >
                <img class="user-list-img" [src]="singleUser.avatar_url"/>
                <span>{{singleUser.login}}</span>
                <br/>
                Profile Url: <a [href]="singleUser.html_url" target="_blank">{{singleUser.html_url}}</a>
            </div>
            <button class="btn-css" *ngIf="!singleUser.isCollapse" type="button" (click)="getRepoOfSingleUser(singleUser, true);" >Details</button>
            <button class="btn-css" *ngIf="singleUser.isCollapse" type="button" (click)="getRepoOfSingleUser(singleUser, false);" >Collapse</button>
            <ul *ngIf="singleUser.repoList && singleUser.isCollapse">
                <li *ngFor="let singleRepo of singleUser.repoList">
                    <span>Repo Name: </span>{{singleRepo.name}}
                </li>
            </ul>
        </div>
        <pagination-controls class="align-pagination" (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</div>
